/* CSS declarations go here */
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
 
#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}
 
#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #89343b;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
 
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
 
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFF;
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #89343b;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 250px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
 
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }
}
#images{
    padding-left: 250px;
}
#form{
    padding-left: 850px;
}
.inner-addon{
    position: relative;
}

.inner-addon .glyphicon{
    position: absolute;
    padding: 10px;
    pointer-event: none;
}

.left-addon .glyphicon{
    left: 0px;
}

.right-addon .glyphicon{
    right: 0px;
}

.left-addon input{
    padding-left: 30px;
}

.right-addon input{
    padding-right: 30px;
}

#banning{
    padding-top: 20px;
    padding-left: 280px;
}

#message{
    padding-left:280px;
    padding-top: 40px;
}

.btn{
    padding-left: 60px;
    padding-right: 60px;
}
#check{
    padding-left: 50px;
}
#check2{
    padding-left: 100px;
    padding-bottom: 10px;
}
#next{
    padding-left: 500px;
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
#lign{
    padding-right: 400px;
}
#whole{
    padding-left: 300px;
    padding-top: 30px;
}
#whole2{
    padding-left: 400px;
    padding-top: 30px;
}
#seach{
    padding-top: 20px;
    text-align: left;
    font-size: 12pt;
}

#btnni{
    padding-left: 800px;
    padding-top: 20px;
}
#left{
    padding-left: 72px;
}
#some{
    padding-left: 100px;
}
#enrol{
    padding-left: 430px;
}
#somei{
    padding-left: 110px;
}
#whole1{
    padding-left: 250px;
    padding-top: 30px;
}
#section{
    padding-left: 350px;
}
#search1{
    padding-left: 200px;
}
#some2{
    padding-left: 100px;
}
#section2{
    padding-left: 300px;
}
#enrolSection{
    padding-left: 450px;
}
#side{
    padding-left: 500px;
    padding-top: 50px;
}
#side1{
     padding-left: 500px;
     padding-top: 10px;
}
#button1{
    padding-top: 100px;
    padding-left: 850px;
}